<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>

  <head>
    <title>G2 | DriveTest</title>
  </head>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>

      <!-- Page Header-->
      <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                <h1>G2 Test</h1>
                <span class="subheading">Book your G2 Test</span>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main Content-->
      <main class="mb-4">
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="my-1">
                <form action="/edit" method="POST">
                  <!-- Section for Personal Details -->
                  <h5>Personal Details</h5>
                  <div class="form-floating">
                    <input class="form-control" id="firstname" name="firstName" type="text"
                      value="<%- user.firstName -%>" placeholder="Enter your First Name..." required />
                    <label for="firstname">First Name</label>
                    <div class="invalid-feedback">First name is required.</div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="lastname" name="lastName" type="text"
                      value="<%- user.lastName -%>" placeholder="Enter your last name..." required />
                    <label for="lastname">Last Name</label>
                    <div class="invalid-feedback">Last name is required.</div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="LicenseNo" name="licenceNo" type="text"
                      value="<%- user.licenceNo -%>" minlength="8" maxlength="8" pattern="[A-Za-z0-9]{8}"
                      placeholder="Enter your licence number." required />
                    <label for="LicenseNo">Licence Number</label>
                    <div class="invalid-feedback">
                      License number is required.
                    </div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="Age" name="age" type="number" min="16" max="100"
                      value="<%- user.age -%>" placeholder="Enter your age" required />
                    <label for="Age">Age</label>
                    <div class="invalid-feedback">Age is required.</div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="dob" name="dob" type="date"
                      value="<%- user.dob ? user.dob.toISOString().slice(0, 10) : '' -%>" required />
                    <label for="dob">Date of Birth</label>
                  </div>
                  <br />

                  <!-- Section for Car Details -->
                  <h5>Car Details</h5>

                  <div class="form-floating">
                    <input class="form-control" id="make" name="make" type="text"
                      value="<%- user.carDetails.make -%>" placeholder="Enter your car make" required />
                    <label for="make">Make</label>
                    <div class="invalid-feedback">Car Make is required.</div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="model" name="model" value="<%- user.carDetails.model -%>"
                      type="text" placeholder="Enter your car model" required />
                    <label for="model">Model</label>
                    <div class="invalid-feedback">Car Model is required.</div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="year" name="year" value="<%- user.carDetails.year -%>"
                      type="number" placeholder="Enter your car year" required />
                    <label for="year">Year</label>
                    <div class="invalid-feedback">Car Year is required.</div>
                  </div>
                  <div class="form-floating">
                    <input class="form-control" id="plateno" name="plateNo"
                      value="<%- user.carDetails.plateNo -%>" type="text"
                      placeholder="Enter your car plate number" required />
                    <label for="plateno">Plate Number</label>
                    <div class="invalid-feedback">Plate Number is required.</div>
                  </div>
                  <br />
                  <% if (user.testType==="G2" && user.status ==="Failed" ) { %>
                    <h5>G2 Result</h5>

                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:red;">You did not pass the G2 test on <%= user.appointmentDate %> at <%= user.appointmentTime %>. You can book another appointment.</p>

                    <% } else if (user.testType==="G2" && user.appointmentDate) { %>
                    <h5>G2 Appointment Details</h5>

                    <p>Appointment Date: <%= user.appointmentDate %>
                    </p>
                    <p>Appointment Time: <%= user.appointmentTime %>
                    </p>

                    <% } %>
                      <% if (user.status==="Pending" && user.appointmentDate) { %>
                        <% if (user.qualified !=="G2" ) { %>
                          <h5 style="color:green;">Your time slot has been booked</h5><br />
                          <% } else { %>
                            <input type="hidden" name="testType" value="G2" />
                            <div class="form-floating">
                              <input type="date" name="G2date" class="form-control" id="bookingAppointmentDate"
                                value="<%- user.appointmentDate %>"
                                onchange="getTimeSlot('<%- user._id %>')" />

                              <label for="bookingAppointmentDate">Select G2 Appointment Date:</label>
                            </div>
                            <h5 id="headerTimeSlot"></h5>
                            <div class="mt-3" id="timeSlotsSection" style="display: none">
                              <h5>Select Time Slots:</h5>
                              <div class="form-check form-check-inline" id="selectSlots"></div>
                            </div>
                            <br />
                            <% } %>
                              <% } else if (user.pass===true && user.testType==="G2" ) { %>
                                <h5 style="color:green;">Congratulations!! You have passed your G2 Test</h5>
                                <% if (user.comment) { %>
                                  <p>Examiner Comment: <b>
                                      <%= user.comment %>
                                    </b></p>
                                  <% } %>
                                    <% } else { %>

                                      <input type="hidden" name="testType" value="G2" />
                                      <div class="form-floating">
                                        <input type="date" name="G2date" class="form-control"
                                          id="bookingAppointmentDate" value="<%- user.appointmentDate %>"
                                          onchange="getTimeSlot('<%- user._id %>')" />

                                        <label for="bookingAppointmentDate">Select G2 Appointment Date:</label>
                                      </div>
                                      <h5 id="headerTimeSlot"></h5>
                                      <div class="mt-3" id="timeSlotsSection" style="display: none">
                                        <h5>Select Time Slots:</h5>
                                        <div class="form-check form-check-inline" id="selectSlots"></div>
                                      </div>
                                      <br />

                                      <% } %>
                                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">
                                          Update
                                        </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    <!-- Footer-->
    <%- include('layouts/footer') -%>
    <!-- JS-->
    <%- include('layouts/scripts') -%>
  </body>
  <script type="text/javascript">
    $(function () {
      var dtToday = new Date();

      var month = dtToday.getMonth() + 1;
      var day = dtToday.getDate();
      var year = dtToday.getFullYear();
      if (month < 10) month = "0" + month.toString();
      if (day < 10) day = "0" + day.toString();
      var maxDate = year + "-" + month + "-" + day;
      $("#bookingAppointmentDate").attr("min", maxDate);
    });
  </script>
</html>
