<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head', { title: 'Login' }); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
      <!-- Page Header-->
      <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                <h1>Login</h1>
                <span class="subheading">DriveTest Booking Kiosk</span>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main Content-->
      <main class="mb-4">
        <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-5">
              <% if (typeof error !=='undefined' && error.length> 1){ %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
                <% }else if(typeof success !=='undefined' && success.length> 1){
                  %>
                  <div class="alert alert-success" role="status"><%= success %></div>
                  <% } %>

                    <div class="my-3">
                      <h2 class="card-title text-center mb-4">Login</h2>
                      <form id="loginForm" action="/users/login" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <div class="form-floating">
                          <input class="form-control" id="username" name="userName" type="text" placeholder="Username"
                            autocomplete="username" required />
                          <label for="username">Username</label>
                          <div class="invalid-feedback">Please enter your username</div>
                          <div class="usernameError"></div>
                        </div>

                        <div class="form-floating">
                          <input class="form-control" id="password" name="password" type="password"
                            placeholder="Password" autocomplete="current-password" required />
                          <label for="password">Password</label>
                          <div class="invalid-feedback">Please enter your password</div>
                          <div class="passwordError"></div>
                        </div>
                        <br />

                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">
                          Login
                        </button>
                        <span class="c-account">
                          <a href="/signup">Register Now</a>
                        </span>
                      </form>
                    </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer-->
      <%- include('layouts/footer') -%>
        <!-- JS-->
        <%- include('./layouts/scripts') -%>
  </body>

</html>
