<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head', { title: 'User Not Found' }); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <%- include('layouts/pageHeader', { heading: 'User not found', description: 'We could not find that driver record.' }); -%>
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <a class="btn btn-primary text-uppercase" href="/g">Go Back</a>

            <!-- Footer-->
            <%- include('layouts/footer') -%>
          </div>
        </div>
      </div>
    </main>
    <!-- JS-->
    <%- include('layouts/scripts') -%>
  </body>
</html>
