<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head', { title: 'Issue Licence' }); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <%- include('layouts/pageHeader', { heading: 'Issue licence', description: 'Confirm the successful test before sending the print request.' }); -%>
    <main class="container px-4 px-lg-5 text-center mb-4">
      <p class="h3">
        Request generated for printing <%= allDetails.qualified %>
        licence for <%= allDetails.firstName %> <%= allDetails.lastName %>
      </p>
    </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- JS-->
        <%- include('layouts/scripts') -%>
  </body>
</html>
