<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head', { title: 'Issue Licence' }); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <%- include('layouts/pageHeader', { heading: 'Issue licence', description: 'Confirm the successful test before sending the print request.' }); -%>
    <h3 style="text-align: center">
      Request generated for printing <%= allDetails.qualified %>
      licence for <%= allDetails.firstName %> <%= allDetails.lastName %>
    </h3><br /><br />
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- JS-->
        <%- include('layouts/scripts') -%>
  </body>
</html>
