<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head', { title: 'Issue Licence' }); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header class="masthead">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Issue Licence</h1>
              <span class="subheading">Print</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <h3 style="text-align: center">
      Request generated for printing <%= allDetails.qualified %>
      licence for <%= allDetails.firstName %> <%= allDetails.lastName %>
    </h3><br /><br />
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- JS-->
        <%- include('layouts/scripts') -%>
  </body>
</html>
